.divDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divItem {
    width: 70%;
    text-align: center;
    justify-content: center;
    margin: 30px auto;
    border: solid 1px #3E3E3E;
}

.itemInfo {
    display: grid;
    grid-template-columns: 2;
    border: solid 1px #E4E4E4;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: auto auto 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}


.divDetail .divItem .productTitle {
    font-size: 2.3em;
    font-weight: bold;
}


.priceDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    width: 200px;
}

.descriptionDetail {
    font-weight: lighter;
    font-size: 1.4em;
}

.priceDetail:hover {
    box-shadow: inset 200px 0 0 0 #040303;
    color: white;
    transition: 1s;
    display: flex;
    justify-content: center;
}

.counterButton {
    margin: 1px auto;
}