.orderForm {
    margin: 50px 200px;
    border: 1px solid #3E3E3E;
    border-radius: 20px;
    padding: 30px;
}


/* --------- MEDIUM DEVICES ------------ */
@media screen and (max-width: 900px) {
    .orderForm {
        margin: 2rem;
        padding: auto;

    }
}


/* --------- Small Devices ------------ */
@media screen and (max-width: 546px) {
    .orderForm {
        margin: 1rem;
        padding: auto;

    }
}