.navlink-brand {
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
}

.navlink-brand:hover {
    color: rgb(255, 249, 249);
}

.navlink-ibrand {
    font-size: 30px;
    color: rgba(128, 128, 128, 0.7);
    text-decoration: none;
    font-weight: bold;
}

.navlink-ibrand:hover {
    color: rgb(255, 249, 249);
}


.navlink-active {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.navlink-active:hover {
    color: rgb(255, 249, 249);
}


.navlink-inactive {
    color: rgba(128, 128, 128, 0.7);
    text-decoration: none;
    font-size: 20px;
}

.navlink-inactive:hover {
    color: rgba(153, 152, 152, 0.7);
}

div.navlink-container>a {
    margin-left: 5rem;
}

.navbar-nav {
    padding: 1rem;
}

div.navbar-nav a.item-count,
div.navbar-nav a.cart-widget {
    margin-left: 0.7rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}