.divInterCart {
    display: flex;
    align-content: center;
    justify-content: center;
}


.cartbutton,
.keepbutton {
    margin: 30px;
    width: 200px;
    height: 4em;
}


/* ------- SMALL DEVICES --------- */
@media screen and (max-width: 560px) {
    .divInterCart {
        width: auto;
        padding: 0;
        display: flexbox;
        flex-direction: column;
        margin: 1rem;
    }

    .cartbutton,
    .keepbutton {
        margin: 0.5rem;
    }

}