.buyorderdiv {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.buyorderdiv .buyicon {
    font-size: 15rem;
}



/* ------- MEDIUM DEVICES --------- */
@media screen and (max-width: 850px) {
    .buyorderdiv {
        margin: auto;
        padding: auto;
        font-size: 3.5rem;

    }
}

/* ------- SMALL DEVICES --------- */
@media screen and (max-width: 480px) {
    .buyorderdiv {
        margin: auto;
        padding: auto;
        font-size: 1.5rem;

    }
}